$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
$govuk-global-styles: true;

@import '../fonts/Inter-3.7/inter.css';

// Override the govuk-frontend font stack
$govuk-font-family: 'Inter', sans-serif;

@import '~govuk-frontend/govuk/all';

// header
.govuk-header__logotype-crown {
    margin-right: 10px;
}
