$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
$govuk-global-styles: true;

@import '../fonts/Inter-3.7/inter.css';

// Override the govuk-frontend font stack
$govuk-font-family: 'Inter', sans-serif;

@import '~govuk-frontend/govuk/all';

// header
.govuk-header__logotype-crown {
    margin-right: 10px;
}

// Force tabs & breadcrumb links to look clickable without using a href=
p.govuk-tabs__tab {
  cursor: pointer;
}

.govuk-back-link {
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
  cursor: pointer;
}
.govuk-back-link:before {
  top: 0;
  bottom: 0;
}

// Apply styles based on GDS inline styles for these components
.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions  {
  border-bottom: none;
}
