$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
$govuk-global-styles: true;

@import '../fonts/Inter-3.7/inter.css';

// Override the govuk-frontend font stack
$govuk-font-family: 'Inter', sans-serif;

@import '~govuk-frontend/govuk/all';

// header
.govuk-header__logotype-crown {
    margin-right: 10px;
}

// Force tabs & back links to look clickable without using a href=
p.govuk-tabs__tab {
  cursor: pointer;
}
.govuk-back-link {
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
  cursor: pointer;
}
.govuk-back-link:before {
  top: 0;
  bottom: 0;
}

// Replicate govuk-header__link styling without the link for the title, and with the link for signout (has no href)
p.govuk-header__link {
  text-decoration: none;
  color: #FFFFFF;
}
p.govuk-header__link--service-name {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
}
p.govuk-header__link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
// Handle signout style
li a.govuk-header__link {
  cursor: pointer;
}

// Replicate inline styles on dt
.govuk-heading-m + .govuk-summary-list__value {
 border-bottom: none;
}

// Make td align to middle not top
.govuk-table__cell {
  vertical-align: middle;
}

// Make block buttons display block
.block-button {
  display: block;
}

.page-notice {
  color: #FFFFFF;
  background-color: #1d70b8;
}

.app-related-items {
  padding-top: 10px;
  border-top: 2px solid #1d70b8;
}