{
    "presets": [
        ["@babel/preset-env", {
            // corejs version must match package.json version
            "corejs": "3.6.4",
            // allows the polyfills to work
            "useBuiltIns": "entry"
        }],
          "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ]
}
