{
    "presets": [
        ["@babel/preset-env", {
            // specifies what kind of ES6 is transpile
            "targets": {
                "node": "current"
            }
        }],
          "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
