# OS, ENV variables, IDE
.DS_STORE
.env
.env.test
.vscode
.flowconfig
*~
.grunt
__benchmarks__
# Directories
build/
bower_components/
coverage/
dist/
jspm_packages/
lib-cov/
node_modules/
remote-repo/
scripts/flow/*/.flowconfig
typings/
.cache
.dynamodb
.eslintcache
.fusebox
.grunt
.idea
.lock-wscript
.npm
.next
.node_repl_history
.nuxt
.nyc_output
.module-cache
.serverless
.vuepress/dist
.yarn-integrity
# Files
_SpecRunner.html
*.log*
*.iml
*.pid
*.pid.lock
*.pyc
*.seed
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tgz
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
cypress/screenshots
cypress/videos
