@import '~accessible-autocomplete/dist/accessible-autocomplete.min';
@import '~govuk-frontend/govuk/all';
@import './LoadingSpinner.scss';

// header
.govuk-header__logotype-crown {
    margin-right: 10px;
}

// Make td align to middle not top
.govuk-table__cell {
  vertical-align: middle;
}

.govuk-table__cell:last-child {
  padding: 10px 20px 10px 0;
}

// Make block buttons display block
.block-button {
  display: block;
}

.page-notice {
  color: #FFFFFF;
  background-color: #1d70b8;
}

.panel-number-large {
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: bold;
  display: block;
}

// Autocomplete widget
.autocomplete__wrapper {
  font-family: $govuk-font-family;
}
.autocomplete__input--focused {
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

.responsive-table {
  margin-bottom: 0;
  width: 100%;
}

.pagination {
  text-align: center;

  @include govuk-media-query($from: desktop) {
    margin-left: govuk-spacing(1);
    margin-right: govuk-spacing(1);
    font-size: 0;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &:after {
      content: " ";
      display: inline-block;
      width: 100%;
    }
  } 
}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.pagination__results {
  @include govuk-font(19);
  margin-top: 0;
  @include govuk-media-query($from: desktop) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.pagination__item {
  @include govuk-font(19);
  display: inline-block;
  padding: govuk-spacing(1) govuk-spacing(2);

  &--active,
  &--dots {
    font-weight: bold;
  }
}

.pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.pagination__item--prev .pagination__link:before,
.pagination__item--next .pagination__link:after {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  color: govuk-colour("black");
  background: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}

.pagination__item--prev .pagination__link:before {
  border-width: 3px 0 0 3px;
  margin-right: govuk-spacing(1);
}

.pagination__item--next .pagination__link:after {
  border-width: 0 3px 3px 0 ;
  margin-left: govuk-spacing(1);
}

.pagination__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  display: block;
  padding: govuk-spacing(1);
  text-align: center;
  text-decoration: none;
  min-width: 25px;

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: govuk-tint($govuk-link-colour, 25);
  }

  &:focus {
    color: govuk-colour("black")
  }


}

.disabled {
    pointer-events: none
}

tbody tr {
  display: block;
  margin-bottom: 1.5em;
  padding: 0 0.5em;
}

@media (min-width: 769px) {
  tbody tr {
    display: table-row;
  }
}

tbody tr td {
  display: flex;
  justify-content: space-between;
  min-width: 1px;
  text-align: right;
}

@media (max-width: 768px) {
  tbody tr td {
    padding-right: 0;
  }
  tbody tr td:last-child {
    border-bottom: 0
  }
  tbody tr {
    border-bottom: 3px solid grey;
  }
  thead {
    display: none;
  }
}

@media (min-width: 769px) {
  tbody tr td {
    display: table-cell;
    text-align: left;
  }
}

.responsive-table__heading {
  font-weight: 700;
  text-align: left;
  word-break: initial;
}
@media (min-width: 769px) {
  .responsive-table__heading {
    display: none;
  }
}

[data-reach-combobox-popover] {
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  font-size: 85%;
}

[data-reach-combobox-list] {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

[data-reach-combobox-option] {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  display: block;
  position: relative;
}

[data-reach-combobox-option][aria-selected="true"], [data-reach-combobox-option--focused][aria-selected="true"] {
  background: #1d70b8;
  color:white;
}

[data-reach-combobox-option]:hover, [data-reach-combobox-option--focused]:hover {
  background: #1d70b8;
  color:white;
}

[data-reach-combobox-option][aria-selected="true"]:hover,  [data-reach-combobox-option--focused][aria-selected="true"]:hover {
  background: #1d70b8;
  color:white;
}

[data-suggested-value] {
  font-weight: normal;
}

.comboBoxListItem {
  font-family: 'GDS Transport';
  font-size: 16px;
  line-height: 1.25;
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  width: 100%;
}

@media (min-width: 641px) {
  .comboBoxListItem {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.govuk-checkboxes__item {
  padding-left: 5px; 

}
